* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.city-head {
  margin-top: 1vw;
  margin-left: 1.3vw;
  font-weight: 100;
  font-size: 0.63vw;
  line-height: 120%;
  display: flex;
}
.city-href {
  text-decoration-line: underline;
  font-weight: 400;
  color: #26a55e;
}
.city-text {
  font-weight: 400;
}
.city-text2 {
  font-weight: 400;
  padding-left: 79%;
}
.nav-bar {
  display: flex;
  margin-top: 2%;
}
.nav-bar-logo {
  height: 3vw;
}
.nav-katalog-inner {
  display: flex;
  align-items: center;
}
.Frame-katalog {
  padding-left: 1vw;
  width: 1vw;
  height: 0.8vw;
}
.nav-katalog-inner h2 {
  padding-left: 0.6vw;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 1.2vw;
  color: #6d6d6d;
}
.nav-katalog-btn {
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  width: 6.5vw;
}

input[type="search"] {
  margin-left: 3.2vw;
  width: 60vw;
  height: 2.7vw;
  border: #ccc;
  outline: none;
  border: 1px solid #ffffff;
}

input[type="search"]:focus {
  border: 1px solid #c5c5c5;
  border-radius: 8px;
}
input {
  padding-left: 3vw;
}
.search-form-nav-btn {
  background-color: #fff;
  border: none;
  margin-left: 3.7vw;
  margin-top: 0.5vw;
  position: absolute;
  height: 2vw;
  width: 2vw;
}
.search-form-nav-btn img {
  width: 1vw;
  height: 0.95vw;
}
.icon-cards-text {
  color: black;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 120%;
}
.icon-cards {
  display: flex;
  margin-left: 0vw;
  width: 4vw;
}
.icon-cards img {
  width: 1.3vw;
  height: 1.3vw;
  padding-left: 0.7vw;
}

.icon {
  margin-left: 2vw;
}
.basket-icon {
  width: 20vw;
}

.banner {
  margin-top: 1.3vw;
  background-image: url(img/лого\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
}
.banner-katalog-btn {
  margin-top: 48vw;
  margin-left: 42%;
  width: 20vw;
  height: 3.5vw;
  border: none;
  background: #ec8e8e;
  border-radius: 20px;
}
.banner-katalog-btn a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 8.1% 16%; /* 15% сверху и по центру */
  padding: 1vw;
  border: 1px solid #c5c5c5;

  width: 64vw;
  height: 32.4vw;
}

/* Кнопка закрытия */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btn-kat {
  align-items: center;

  display: flex;
  margin-top: 0.2vw;
  justify-content: center;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  width: 6.5vw;
  height: 2.2vw;
}
.btn-kat h2 {
  margin-left: 0.7vw;
  color: #6d6d6d;
  font-size: 0.86vw;
}
.all-modal-content {
  width: 50vw;
  height: 10vw;
  display: flex;
}

.cont1 li {
  list-style: none;
  margin-top: 1vw;
  font-size: 0.7vw;
  font-weight: 500;
}
.title-cont2 {
  font-size: 0.9vw;
}
.title-cont3 {
  font-size: 0.9vw;
}
.cont2 li {
  margin-top: 0.8vw;
  font-size: 0.8vw;
  color: black;
  font-weight: 500;
}
.cont3 li {
  font-weight: 500;
  font-size: 0.8vw;
  margin-top: 0.8vw;
}
.cont2 {
  margin-left: 3vw;
}
.cont3 {
  margin-left: 8vw;
}
.vitamin-cont h2 {
  font-size: 1vw;
}
.vitamin-cont li {
  margin-top: 0.6vw;
}
.vitamin-cont {
  margin-top: 2vw;
}
@media (min-width: 1500) and (max-width: 1700px) {
  .cont1 li {
    list-style: none;
    margin-top: 0.5vw;
  }
}
@media (max-width: 1400px) {
  .notification {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -3vw;
    margin-left: 2vw;
    width: 1.3vw;
    height: 1.3vw;
    background: #26a55e;
    border-radius: 25px;
  }
  .notification2 {
    position: absolute;
    background-color: #26a55e;
    width: 1.7vw;
    height: 1.3vw;
    margin-top: -3vw;
    border-radius: 25px;
    margin-left: 2.3vw;
  }
  .cont1 li {
    list-style: none;
    margin-top: 0.5vw;
  }
}
.market-nav {
  margin-top: 0.3vw;
  margin-left: 28vw;
}
.market-nav a {
  color: black;
  font-weight: 430;
  font-size: 0.75vw;
}
ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 4.5vw; /* Отступ слева */
}
.box-ordering {
  display: flex;
  margin-left: 12vw;
  margin-top: 1.5vw;
}
.card-ordering {
  display: flex;
}
ul.ordering-nav-ul li {
  display: inline;
}

.ordering-content-filter {
  margin-top: 2vw;
}

.link-hover-solid {
  margin-top: 1vw;
}

/* Style the links inside the navigation bar */
.link-hover-solid a {
  font-weight: 700;
  font-size: 1.3vw;

  color: #434343;
  text-align: center;

  text-decoration: none;

  border-bottom: 3px solid transparent;
}

.link-hover-solid a:hover {
  border-bottom: 3px solid #7fdbac;
}

.link-hover-solid a.active {
  border-bottom: 3px solid #7fdbac;
}
.title-order {
  font-size: 1.6vw;
  margin-top: 1vw;
}
.two {
  margin-left: 2vw;
}
.ordering-btn-one {
  margin-right: 1.8vw;
  height: 1.8vw;
  flex-direction: row;
  align-items: center;
  padding: 2px 9px;
  gap: 7px;

  background: #7fdbac;
  border-radius: 4px;
  border: none;
}
.ordering-btn-one h2 {
  font-weight: 500;
  color: #707070;
  font-size: 0.7vw;
}
.search-ordering {
  margin-left: -4vw;
  margin-top: 1vw;
}
input.ordering-c {
  width: 26vw;
}
.href-content {
  font-size: 0.9vw;
}
.card-ordering-overview h1 {
  font-weight: 700;
  font-size: 0.85vw;
}
.card-ordering-overview h2 {
  font-weight: 500;
  color: #696969;
  font-size: 0.8vw;
  padding-top: 0.2vw;
}
.card-ordering-overview h3 {
  text-decoration: underline;
  font-weight: 500;
  color: #7fdbac;
  font-size: 1vw;
}
.card-ordering-overview {
  margin-left: 1vw;
}
.card-ordering {
  margin-left: -3vw;
  justify-content: center;
  align-items: center;
}
.card-ordering img {
  width: 7.5vw;
}
.overview-cancel-btn {
  width: 5.9vw;
  height: 1.7vw;
  margin-top: 1vw;
  background: #405954;
  border: 1px solid #838383;
  border-radius: 20px;
}
.overview-cancel-btn a {
  color: white;
  font-size: 0.8vw;
}
.сard-ordering-overview-two {
  margin-left: 4vw;
}
.сard-ordering-overview-two h1 {
  font-size: 1.2vw;
  margin-left: 0.7vw;
}
.ordering-map {
  width: 35vw;
  height: 35vw;
}
.ordering-map-box {
  margin-left: 3vw;
  margin-top: 5vw;
}

footer {
  margin-top: 7.5vw;
  background: #ebf8f1;
  height: 20vw;
}
.footer-content {
  margin-left: 30vw;
  display: flex;
}
.about-we {
  margin-top: 2vw;
}
.about-we li {
  margin-top: 1.5vw;
}
.about-we a {
  font-size: 0.85vw;
  font-weight: 500;
  color: #5a5b6a;
}
.about-we h1 {
  font-size: 1vw;
}
.user li {
  margin-top: 1vw;
}
.user a {
  font-size: 0.85vw;
  font-weight: 500;
  color: #5a5b6a;
}
.user h1 {
  font-size: 1vw;
}
.user {
  margin-top: 2vw;
  margin-left: 9vw;
}
.partner li {
  margin-top: 1vw;
}
.partner a {
  font-size: 0.85vw;
  font-weight: 500;
  color: #5a5b6a;
}
.partner h1 {
  font-size: 1vw;
}
.partner {
  margin-top: 2vw;
  margin-left: 9vw;
}
.line {
  width: 60vw;
  height: 0vw;
  margin: 1.5vw auto;

  border: 1px solid #b7b7b7;
}
.finish-text {
  font-weight: 400;
  font-size: 0.8vw;
  color: #5a5b6a;
  margin-left: 45vw;
}
.ordering-map-box {
}
.adress {
  background: #f4f6f9;
  padding: 0px;
  height: 20px;
  width: 65%;
  border: 1px solid #000000;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 5px;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;
}
.buttonn {
  width: 100%;
  height: 30px;

  background: #26a55e;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.nav-bar {
  justify-content: space-between;
}
.icon-cards {
  width: auto;
  margin-right: 55px;
}
.icon {
  display: flex;
  flex-direction: column;
}
